/* body {
    color: red;
    background-color: black;
} */

/*placeholder box*/
/* #carouselHeader {
    backcolor: gray;
} */

/* @media (max-width: 500px) {
    body {
        background-color: black;
        background-repeat: repeat-y;
        background-size: cover;
        background-image: url('./images/ssclogos/project_20230526_2119460-01.png');

    }
} */


.scrollPictures {
    background-color: black;
    z-index: 10;

}

@media only screen and (max-width:575px) {   
    .scrollPictures {
        display: none;
    } 
    main {
        overflow-x:hidden;
    }
    ::-webkit-scrollbar {
        display: none; 
    }
}



footer {
    background-color: black;
}